* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sedans:hsl(31, 77%, 52%);
    --suvs:hsl(184, 100%, 22%);
    --luxury:hsl(179, 100%, 13%);
    --backheadbutton: hsl(0, 0%, 95%);
    --paragraphs: hsla(0, 0%, 100%, 0.75);
}

html {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--backheadbutton);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    width: 100%;
    justify-content: center;
}

.card {
    width: 20vw;
    height: 70vh;
    padding-left: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Lexend Deca', sans-serif;
}

.card-icon img{
    width: 4vw;
    height: 5vh;
}

.card-header {
    font-family: 'Big Shoulders Display', cursive; 
    color: var(--backheadbutton);
    font-size: 1vw;
}

.card-content {
    color: var(--paragraphs);
    font-size: 1vw;
    padding-right: 3.7vw;
    padding-bottom: 6vh;
    line-height: 1.5;
}


#card-1 {
    background-color: var(--sedans);
    border-radius: 5px 0 0 5px;
}
#card-2 {
    background-color: var(--suvs);
}
#card-3 {
    background-color: var(--luxury);
    border-radius: 0 5px 5px 0;
}

.card-button p{
    font-size: 1vw;
}

.card-button{
    text-align: center;
    border-radius: 2vw;
    padding: 1.5vh;
    border: none;
    background-color: var(--backheadbutton);
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
    width: 10vw;
    margin-bottom: 2vh;
}

#card-1 .card-button p {
    color: var(--sedans);
}
#card-2 .card-button p {
    color: var(--suvs);
}
#card-3 .card-button p {
    color: var(--luxury);
}

.card-button:hover {
    background: transparent;
    outline: 4px solid var(--backheadbutton);
}

#card-1 .card-button:hover p, #card-2 .card-button:hover p, #card-3 .card-button:hover p {
    color: var(--backheadbutton);
}

.attribution { 
    font-size: 1vw; 
    text-align: center; 
    color: var(--luxury);
}
.attribution a { 
    color: var(--suvs); 
}

@media (max-width: 600px) {
    main{
        flex-direction: column;
        margin-top: 10%;
    }
    .card {
        width: 80vw;
        height: 70vh;
        padding-left: 14%;
    }
    .card-icon img{
        margin-top: 10%;
        width: 12vw;
        height: 5vh;
    }
    .card-header {
        font-size: 4vw;
    }

    .card-content {
        padding-right: 3%;
        margin-right: 30px;
        font-size: 4vw;
    }

    #card-1, #card-3 {
        border-radius: 0;
    }

    .card-button {
        width: 50vw; 
    }

    .card-button p {
        font-size: 4vw;
    }
}

@media (min-width: 700px) and (max-width: 1024px) {
    .card {
        width: 30vw;
        height: 50vh;
        padding-left: 4%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-family: 'Lexend Deca', sans-serif;
    }

    .card-header {
        font-size: 2vw;
    }

    .card-content {
        font-size: 2vw;
    }

    .card-button {
        padding: 1vh;
        width: 20vw 
    }

    .card-button p {
        font-size: 2vw;
    }
}

@media (width: 1024px) {
    .card{
        height: 80vh;
    }
}